@using CapaNegocio.Tesoreria;
@using CapaEntidad.Tesoreria;
@model TransaccionViewModel

@{
    Layout = null;
    TransaccionBL obj = new TransaccionBL();
    TransaccionCLS objTransaccion = obj.GetDataTransaccion(Model.CodigoTransaccion);
    string montoStr = "";
}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />*@
    <link rel="stylesheet" href="~/css/css.css" />
</head>
<body style="font-family: 'Open Sans'; font-size: 20px;">
    <div style="text-align: center; align-content: center; margin-left: 5px;">
        <p style="text-align: center; align-content: center; font-weight: bold;">TESORERÍA</p>
        <p style="text-align: center; align-content: center; font-weight: bold;">@objTransaccion.CodigoSeguridad</p>
        <p style="text-align: center; align-content: center;">ING</p>
        <p style="text-align: center; align-content: center;">@objTransaccion.CodigoTransaccion</p>
        <table style="border-top: 1px solid black; border-collapse: collapse;">
            <tr style="border-collapse: collapse;">
                <td style="border-collapse: collapse;"><div style="text-align:left;">Recibo:</div></td>
                <td><div style="text-align:left;">@objTransaccion.NumeroReciboStr</div></td>
            </tr>
            <tr style="border-collapse: collapse;">
                <td style="border-collapse: collapse;"><div style="text-align:left;">Fecha:</div></td>
                <td><div style="text-align:left;">@objTransaccion.FechaReciboStr</div></td>
            </tr>
            @if (objTransaccion.CodigoOperacion == Constantes.Operacion.Ingreso.VENTAS_EN_RUTA)
            {
                <tr style="border-collapse: collapse;">
                    <td style="border-collapse: collapse;"><div style="text-align:left;">Código:</div></td>
                    <td><div style="text-align:left;">@objTransaccion.CodigoEntidad</div></td>
                </tr>
            }
            <tr style="border-collapse: collapse;">
                <td style="border-collapse: collapse;"><div style="text-align:left;">Nombre:</div></td>
                <td><div style="text-align:left;">@objTransaccion.NombreEntidad</div></td>
            </tr>
            @if (objTransaccion.CodigoOperacion == Constantes.Operacion.Ingreso.VENTAS_EN_RUTA)
            {
                <tr style="border-collapse: collapse;">
                    <td style="border-collapse: collapse;"><div style="text-align:left;">Ruta:</div></td>
                    <td><div style="text-align:left;">@objTransaccion.Ruta</div></td>
                </tr>
            }
            <tr style="border-collapse: collapse;">
                <td style="border-collapse: collapse;"><div style="text-align:left;">Concepto:</div></td>
                <td><div style="text-align:left;">@objTransaccion.Operacion</div></td>
            </tr>
            <tr style="border-collapse: collapse;">
                <td style="border-collapse: collapse;"><div style="text-align:left;">Recurso:</div></td>
                <td><div style="text-align:left;">@objTransaccion.Recursos.TrimEnd(',')</div></td>
            </tr>
            @if (objTransaccion.CodigoOperacion == Constantes.Operacion.Ingreso.PRESTAMO_ABONO ||
                 objTransaccion.CodigoOperacion == Constantes.Operacion.Ingreso.ANTICIPO_LIQUIDABLE_REEMBOLSO ||
                 objTransaccion.CodigoOperacion == Constantes.Operacion.Ingreso.DEVOLUCION_POR_ANTICIPO_SALARIO)
            {
                <tr style="border-collapse: collapse;">
                    <td style="width: 85px; border-collapse: collapse;"><div style="text-align:left">Saldo Anterior:</div></td>
                    <td><div style="text-align:left">@objTransaccion.MontoSaldoAnteriorCxC.ToString("N2")</div>
                    </td>
                </tr>
            }
            <tr style="border-collapse: collapse;">
                <td style="border-collapse: collapse;"><div style="text-align:left;">Monto:</div></td>
                <td>
                    <div style="text-align:left;">
                        @switch (objTransaccion.CodigoOperacion)
                        {
                            case Constantes.Operacion.Ingreso.PRESTAMO_ABONO:
                                montoStr = "(-) " + objTransaccion.Monto.ToString("N2");
                                break;
                            case Constantes.Operacion.Ingreso.ANTICIPO_LIQUIDABLE_REEMBOLSO:
                                montoStr = "(-) " + objTransaccion.Monto.ToString("N2");
                                break;
                            case Constantes.Operacion.Ingreso.DEVOLUCION_POR_ANTICIPO_SALARIO:
                                montoStr = "(-) " + objTransaccion.Monto.ToString("N2");
                                break;
                            default:
                                montoStr = objTransaccion.Monto.ToString("N2");
                                break;
}
                        @montoStr
                    </div>
                </td>
            </tr>
            @if (objTransaccion.CodigoOperacion == Constantes.Operacion.Ingreso.PRESTAMO_ABONO ||
                 objTransaccion.CodigoOperacion == Constantes.Operacion.Ingreso.ANTICIPO_LIQUIDABLE_REEMBOLSO ||
                 objTransaccion.CodigoOperacion == Constantes.Operacion.Ingreso.DEVOLUCION_POR_ANTICIPO_SALARIO)
            {
                <tr style="border-collapse: collapse;">
                    <td style="width: 85px; border-collapse: collapse;"><div style="text-align:left">Saldo Actual:</div></td>
                    <td><div style="text-align:left">@objTransaccion.MontoSaldoActualCxC.ToString("N2")</div></td>
                </tr>
            }
        </table>
        <p style="text-align: center; align-content: center;">@objTransaccion.FechaImpresionStr<br>
        <p style="text-align: center; align-content: center;">@objTransaccion.UsuarioIng<br>
    </div>
</body>
</html>