@using CapaNegocio.Contabilidad;
@using CapaEntidad.Contabilidad;
@using System.Globalization;
@model ReportContabilidadViewModel


@{
    Layout = null;
    ReportesTesoreriaBL obj = new ReportesTesoreriaBL();
    ReporteOperacionesCajaListCLS reporte = obj.GetReporteDepositosBancarios(Model.AnioOperacion, Model.SemanaOperacion, Model.CodigoReporte, Model.Arqueo);

    // Inicio Operacion
    string[] word = reporte.listaEncabezado[0].FechaInicioSemana.Split('/');
    int anio = Convert.ToInt32(word[2]);
    int mes = Convert.ToInt32(word[1]);
    int dia = Convert.ToInt32(word[0]);
    DateTime fechaInicio = new DateTime(anio, mes, dia);
    string fechaInicioStr = fechaInicio.Day.ToString() + "/" + fechaInicio.Month.ToString() + "/" + fechaInicio.Year.ToString();
    int diaSemana = Util.Conversion.DayOfWeek(fechaInicio);
    string diaInicioStr = Util.Conversion.nombreDia(diaSemana);


    // Fin Operacion
    word = reporte.listaEncabezado[0].FechaFinSemana.Split('/');
    anio = Convert.ToInt32(word[2]);
    mes = Convert.ToInt32(word[1]);
    dia = Convert.ToInt32(word[0]);
    DateTime fechaFin = new DateTime(anio, mes, dia);
    string fechaFinStr = fechaFin.Day.ToString() + "/" + fechaFin.Month.ToString() + "/" + fechaFin.Year.ToString();
    diaSemana = Util.Conversion.DayOfWeek(fechaFin);
    string diaFinStr = Util.Conversion.nombreDia(diaSemana);
}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
</head>
<body>
    <h2 style="text-align: center;">RESUMEN  DE OPERACIONES EN CAJA</h2>
    <h3 style="text-align: center;">DEPÓSITOS BANCARIOS Y BTB</h3>
    <h2 style="text-align: left;"></h2>
    <table style="border: 1px solid black; border-collapse: collapse; margin: 0 auto;">
        <tr style="border: 1px solid black;">
            <td colspan="2" style="border: 1px solid black; padding: 4px;"><div style="text-align: center;">Rango de fechas</div></td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black; padding: 4px;"><div style="text-align: center;">@fechaInicioStr</div></td>
            <td style="border: 1px solid black; padding: 4px;"><div style="text-align: center;">@fechaFinStr</div></td>
        </tr>
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black; padding: 4px;"><div style="text-align: center;">@diaInicioStr</div></td>
            <td style="border: 1px solid black; padding: 4px;"><div style="text-align: center;">@diaFinStr</div></td>
        </tr>
    </table>

    <h2 style="text-align: left;"></h2>
    <table style="border: 1px solid black; border-collapse: collapse; margin: 0 auto;">
        <thead>
            <tr style="border-bottom: 1px solid black;">
                <th style="font-size: 12px; margin: auto; border: 1px solid black;"><div style="text-align: center;"></div></th>
                <th style="font-size: 12px; margin: auto; border: 1px solid black;"><div style="text-align: center;"></div></th>
                <th style="font-size: 12px; margin: auto; border: 1px solid black;"><div style="text-align: center;"></div></th>
                <th style="font-size: 12px; margin: auto; border: 1px solid black;"><div style="text-align: center;"></div></th>
                @foreach (var dr in reporte.listaEncabezadoFechas)
                {
                    <th style="font-size: 12px; margin: auto; border: 1px solid black;"><div style="text-align: center;">@dr.FechaStr</div></th>
                }
                <th style="font-size: 12px; margin: auto; border: 1px solid black;"><div style="text-align: center;"></div></th>
            </tr>
            <tr style="border-bottom: 1px solid black;">
                <th style="font-size: 12px; margin: auto; border: 1px solid black; width: 20px;"><div style="text-align: center;"></div></th>
                <th style="font-size: 12px; margin: auto; border: 1px solid black; width: 375px;"><div style="text-align: center;">ENTIDAD</div></th>
                <th style="font-size: 12px; margin: auto; border: 1px solid black; width: 130px;"><div style="text-align: center;"># CUENTA</div></th>
                <th style="font-size: 12px; margin: auto; border: 1px solid black; width: 100px;"><div style="text-align: center;"># BOLETA</div></th>
                <th style="font-size: 12px; margin: auto; border: 1px solid black; width: 90px;"><div style="text-align: center;">LUNES</div></th>
                <th style="font-size: 12px; margin: auto; border: 1px solid black; width: 90px;"><div style="text-align: center;">MARTES</div></th>
                <th style="font-size: 12px; margin: auto; border: 1px solid black; width: 90px;"><div style="text-align: center;">MIERCOLES</div></th>
                <th style="font-size: 12px; margin: auto; border: 1px solid black; width: 90px;"><div style="text-align: center;">JUEVES</div></th>
                <th style="font-size: 12px; margin: auto; border: 1px solid black; width: 90px;"><div style="text-align: center;">VIERNES</div></th>
                <th style="font-size: 12px; margin: auto; border: 1px solid black; width: 90px;"><div style="text-align: center;">SABADO</div></th>
                <th style="font-size: 12px; margin: auto; border: 1px solid black; width: 90px;"><div style="text-align: center;">DOMINGO</div></th>
                <th style="font-size: 12px; margin: auto; border: 1px solid black; width: 90px;"><div style="text-align: center;">Total General</div></th>
            </tr>
        </thead>
        @{decimal totalLunes = 0;}
        @{decimal totalMartes = 0;}
        @{decimal totalMiercoles = 0;}
        @{decimal totalJueves = 0;}
        @{decimal totalViernes = 0;}
        @{decimal totalSabado = 0;}
        @{decimal totalDomingo = 0;}
        @{decimal totalSemana = 0;}
        @{string idTipoOperacion = "";}
        @{int codigoCategoriaOperacion = 0;}
        @{int codigoOperacion = 0;}
        @{int codigoOrigen = 0;}
        @{int codigoCategoriaEntidad = 0;}
        @{string codigoEntidadAnterior = "";}
        @{int contador = 0;}
        @{decimal montoTipoOperacionLunes = 0;}
        @{decimal montoTipoOperacionMartes = 0;}
        @{decimal montoTipoOperacionMiercoles = 0;}
        @{decimal montoTipoOperacionJueves = 0;}
        @{decimal montoTipoOperacionViernes = 0;}
        @{decimal montoTipoOperacionSabado = 0;}
        @{decimal montoTipoOperacionDomingo = 0;}
        @{decimal montoTipoOperacionSemana = 0;}
        @{decimal montoTotalPorOrigen = 0;}
        @{int codigoEmpresa = 0;}
        @foreach (var dr in reporte.listaTransaccciones)
        {
            if (@dr.IdTipoOperacion != idTipoOperacion)
            {
                <tr style="background-color: #DCDCDC;">
                    <td style="padding: 4px; font-size: 12px; font-weight: bold;">@dr.IdTipoOperacion</td>
                    <td style="padding: 4px; font-size: 12px; font-weight: bold;">@dr.TipoOperacion</td>
                    <td style="padding: 4px; font-size: 12px;" colspan="10"></td>
                </tr>
                idTipoOperacion = @dr.IdTipoOperacion;
            }
            if (@dr.CodigoCategoriaOperacion != codigoCategoriaOperacion)
            {
                <tr>
                    <td style="padding: 4px; font-size: 12px;"></td>
                    <td style="padding-left: 10px; font-size: 12px; font-weight: bold;">@dr.CategoriaOperacion</td>
                    <td style="padding: 4px; font-size: 12px;" colspan="10"></td>

                </tr>
                codigoCategoriaOperacion = @dr.CodigoCategoriaOperacion;
            }
            if (@dr.CodigoOperacion != codigoOperacion)
            {
                <tr>
                    <td style="padding: 4px; font-size: 12px;"></td>
                    <td style="padding-left: 20px; font-size: 12px;">@dr.Operacion</td>
                    <td style="padding: 4px; font-size: 12px;" colspan="10"></td>

                </tr>
                codigoOperacion = @dr.CodigoOperacion;
            }

            if (@dr.CodigoOrigen != codigoOrigen)
            {
                <tr>
                    <td style="padding: 4px; font-size: 12px; border-bottom: 1px solid black;"></td>
                    <td style="padding-left: 30px; font-size: 12px; border-bottom: 1px solid black;">@dr.Origen</td>
                    <td style="padding: 4px; font-size: 12px; border-bottom: 1px solid black;" colspan="9"></td>
                    @foreach (var drRow in reporte.listaMontosPorOrigen)
                    {
                        if (drRow.CodigoOrigen == @dr.CodigoOrigen)
                        {
                            montoTotalPorOrigen = drRow.MontoTotal;
                        }
                    }
                    <td style="padding: 4px; font-size: 12px; border: 1px solid black;"><div style="text-align: right; font-weight: bold;">@montoTotalPorOrigen.ToString("N2")</div></td>
                </tr>
            }

            if (dr.CodigoEmpresa != codigoEmpresa || @dr.CodigoOrigen != codigoOrigen)
            {
                <tr>
                    <td style="padding: 4px; font-size: 12px;"></td>
                    <td style="padding-left: 40px; font-size: 12px; font-weight: bold;" colspan="2">@dr.NombreEmpresa</td>
                    <td style="padding: 4px; font-size: 12px;" colspan="9"></td>

                </tr>
            }

            if (@dr.CodigoCategoriaEntidad != codigoCategoriaEntidad || @dr.CodigoOrigen != codigoOrigen || dr.CodigoEmpresa != codigoEmpresa)
            {
                <tr>
                    <td style="padding: 4px; font-size: 12px;"></td>
                    <td style="padding-left: 60px; font-size: 12px; font-weight: bold;">@dr.CategoriaEntidad</td>
                    <td style="padding: 4px; font-size: 12px;" colspan="2"></td>
                    @foreach (var drRow in reporte.listaMontosTiposDeOperacion)
                    {
                        if (drRow.CodigoOrigen == @dr.CodigoOrigen && drRow.CodigoBancoDeposito.ToString() == dr.CodigoEntidad && drRow.CodigoEmpresa == @dr.CodigoEmpresa && drRow.NumeroCuenta == @dr.NumeroCuenta)
                        {
                            montoTipoOperacionLunes = drRow.MontoTotalLunes;
                            montoTipoOperacionMartes = drRow.MontoTotalMartes;
                            montoTipoOperacionMiercoles = drRow.MontoTotalMiercoles;
                            montoTipoOperacionJueves = drRow.MontoTotalJueves;
                            montoTipoOperacionViernes = drRow.MontoTotalViernes;
                            montoTipoOperacionSabado = drRow.MontoTotalSabado;
                            montoTipoOperacionDomingo = drRow.MontoTotalDomingo;
                            montoTipoOperacionSemana = drRow.MontoTotalSemana;
                            break;
                        }
                    }
                    <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@montoTipoOperacionLunes.ToString("N2")</div></td>
                    <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@montoTipoOperacionMartes.ToString("N2")</div></td>
                    <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@montoTipoOperacionMiercoles.ToString("N2")</div></td>
                    <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@montoTipoOperacionJueves.ToString("N2")</div></td>
                    <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@montoTipoOperacionViernes.ToString("N2")</div></td>
                    <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@montoTipoOperacionSabado.ToString("N2")</div></td>
                    <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@montoTipoOperacionDomingo.ToString("N2")</div></td>
                    <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@montoTipoOperacionSemana.ToString("N2")</div></td>

                </tr>
                codigoCategoriaEntidad = @dr.CodigoCategoriaEntidad;
            }
            <tr>
                <td style="padding: 4px; font-size: 12px;"></td>
                @if (codigoEntidadAnterior == @dr.CodigoEntidad && contador != 0 && @dr.CodigoOrigen == codigoOrigen && dr.CodigoEmpresa == codigoEmpresa)
                {
                    <td style="padding-left: 70px; font-size: 12px;"></td>
                }
                else
                {
                    <td style="padding-left: 70px; font-size: 12px;">@dr.NombreEntidad</td>
                }
                <td style="padding: 4px; font-size: 12px;"><div style="text-align: right;">@dr.NumeroCuenta</div></td>
                <td style="padding: 4px; font-size: 12px;"><div style="text-align: right;">@dr.NumeroBoleta</div></td>
                <td style="padding: 4px; font-size: 12px;">
                    <div style="text-align: right;">
                        @if (dr.MontoLunes != 0)
                        {@dr.MontoLunes.ToString("N2")}
                    </div>
                </td>
                <td style="padding: 4px; font-size: 12px;">
                    <div style="text-align: right;">
                        @if (dr.MontoMartes != 0)
                        {@dr.MontoMartes.ToString("N2")}
                    </div>
                </td>
                <td style="padding: 4px; font-size: 12px;">
                    <div style="text-align: right;">
                        @if (dr.MontoMiercoles != 0)
                        {@dr.MontoMiercoles.ToString("N2")}
                    </div>
                </td>
                <td style="padding: 4px; font-size: 12px;">
                    <div style="text-align: right;">
                        @if (dr.MontoJueves != 0)
                        {@dr.MontoJueves.ToString("N2")}
                    </div>
                </td>
                <td style="padding: 4px; font-size: 12px;">
                    <div style="text-align: right;">
                        @if (dr.MontoViernes != 0)
                        {@dr.MontoViernes.ToString("N2")}
                    </div>
                </td>
                <td style="padding: 4px; font-size: 12px;">
                    <div style="text-align: right;">
                        @if (dr.MontoSabado != 0)
                        {@dr.MontoSabado.ToString("N2")}
                    </div>
                </td>
                <td style="padding: 4px; font-size: 12px;">
                    <div style="text-align: right;">
                        @if (dr.MontoDomingo != 0)
                        {@dr.MontoDomingo.ToString("N2")}
                    </div>
                </td>
                <td style="padding: 4px; font-size: 12px;">
                    <div style="text-align: right;">
                        @if (dr.MontoSemana != 0)
                        {@dr.MontoSemana.ToString("N2")}
                    </div>
                </td>
            </tr>
            totalLunes = totalLunes + dr.MontoLunes;
            totalMartes = totalMartes + dr.MontoMartes;
            totalMiercoles = totalMiercoles + dr.MontoMiercoles;
            totalJueves = totalJueves + dr.MontoJueves;
            totalViernes = totalViernes + dr.MontoViernes;
            totalSabado = totalSabado + dr.MontoSabado;
            totalDomingo = totalDomingo + dr.MontoDomingo;
            totalSemana = totalSemana + dr.MontoSemana;
            contador = contador + 1;
            codigoEntidadAnterior = dr.CodigoEntidad;
            codigoOrigen = @dr.CodigoOrigen;
            codigoEmpresa = @dr.CodigoEmpresa;
        }

        <tr style="border: 1pt solid black; ">
            <td style="padding: 4px; font-size: 10px;"></td>
            <td style="padding: 4px; font-size: 10px;"></td>
            <td style="padding: 4px; font-size: 14px;" colspan="2"><div style="text-align: left; font-weight: bold; font-family: Arial, Helvetica, Verdana;">Total general</div></td>
            @if (@totalLunes >= 0)
            {
                <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@totalLunes.ToString("N2")</div></td>
            }
            else
            {
                <td style="padding: 4px; font-size: 12px; color: red;"><div style="text-align: right; font-weight: bold;">@totalLunes.ToString("N2")</div></td>
            }
            @if (@totalMartes >= 0)
            {
                <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@totalMartes.ToString("N2")</div></td>
            }
            else
            {
                <td style="padding: 4px; font-size: 12px; color: red;"><div style="text-align: right; font-weight: bold;">@totalMartes.ToString("N2")</div></td>
            }
            @if (@totalMiercoles >= 0)
            {
                <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@totalMiercoles.ToString("N2")</div></td>
            }
            else
            {
                <td style="padding: 4px; font-size: 12px; color: red;"><div style="text-align: right; font-weight: bold;">@totalMiercoles.ToString("N2")</div></td>
            }
            @if (@totalJueves >= 0)
            {
                <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@totalJueves.ToString("N2")</div></td>
            }
            else
            {
                <td style="padding: 4px; font-size: 12px; color: red;"><div style="text-align: right; font-weight: bold;">@totalJueves.ToString("N2")</div></td>
            }
            @if (@totalViernes >= 0)
            {
                <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@totalViernes.ToString("N2")</div></td>
            }
            else
            {
                <td style="padding: 4px; font-size: 12px; color: red;"><div style="text-align: right; font-weight: bold;">@totalViernes.ToString("N2")</div></td>
            }
            @if (@totalSabado >= 0)
            {
                <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@totalSabado.ToString("N2")</div></td>
            }
            else
            {
                <td style="padding: 4px; font-size: 12px; color: red;"><div style="text-align: right; font-weight: bold;">@totalSabado.ToString("N2")</div></td>
            }
            @if (@totalDomingo >= 0)
            {
                <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@totalDomingo.ToString("N2")</div></td>
            }
            else
            {
                <td style="padding: 4px; font-size: 12px; color: red;"><div style="text-align: right; font-weight: bold;">@totalDomingo.ToString("N2")</div></td>
            }
            @if (@totalSemana >= 0)
            {
                <td style="padding: 4px; font-size: 12px;"><div style="text-align: right; font-weight: bold;">@totalSemana.ToString("N2")</div></td>
            }
            else
            {
                <td style="padding: 4px; font-size: 12px; color: red"><div style="text-align: right; font-weight: bold;">@totalSemana.ToString("N2")</div></td>
            }
        </tr>
    </table>
</body>
</html>
