@using CapaNegocio.Tesoreria;
@using CapaEntidad.Tesoreria;
@model TransaccionViewModel

@{
    Layout = null;
    TransaccionBL obj = new TransaccionBL();
    TransaccionCLS objTransaccion = obj.GetDataTransaccion(Model.CodigoTransaccion);
}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
</head>
<body style="font-family: 'Open Sans'; font-size: 20px;">
    <div style="text-align: center; align-content: center; margin-left: 5px;">
        <p style="text-align: center; align-content: center; font-weight: bold;">CAJA CENTRAL<br>
        <p style="text-align: center; align-content: center; font-weight: bold;">@objTransaccion.CodigoSeguridad<br>
        <p style="text-align: center; align-content: center;">
            COMPROBANTE DE EGRESO<br>
            <table style="border-top: 1px solid black; border-collapse: collapse;">
                <tr style="border-collapse: collapse;">
                    <td style="width: 85px; border-collapse: collapse;"><div style="text-align:left">Recibo:</div></td>
                    <td><div style="text-align:left">@objTransaccion.NumeroReciboStr</div></td>
                </tr>
                <tr style="border-collapse: collapse;">
                    <td style="width: 85px; border-collapse: collapse;"><div style="text-align:left">Fecha:</div></td>
                    <td><div style="text-align:left">@objTransaccion.FechaReciboStr</div></td>
                </tr>
                <tr style="border-collapse: collapse;">
                    <td style="width: 85px; border-collapse: collapse;"><div style="text-align:left">Nombre:</div></td>
                    <td><div style="text-align:left">@objTransaccion.NombreEntidad</div></td>
                </tr>
                <tr style="border-collapse: collapse;">
                    <td style="width: 85px; border-collapse: collapse;"><div style="text-align:left">Concepto:</div></td>
                    <td><div style="text-align:left">@objTransaccion.Operacion</div></td>
                </tr>
                <tr style="border-collapse: collapse;">
                    <td style="width: 85px; border-collapse: collapse;"><div style="text-align:left">Monto:</div></td>
                    <td><div style="text-align:left">@objTransaccion.Monto.ToString("N2")</div></td>
                </tr>
            </table>
        <p style="text-align: center; align-content: center;">@objTransaccion.FechaImpresionStr<br>
        <p style="text-align: center; align-content: center;">@objTransaccion.UsuarioIng<br>
    </div>
</body>
</html>
